In [1]:
# sumando

answer = 30+12
print(answer)

42

In [2]:
# restando
difference = 30 - 12
print(difference)

18

In [3]:
# multiplicacion
product = 30 * 12
print(product)

360

In [4]:
# Division
quotient = 30 / 12
print(quotient)

2.5

In [5]:
# divison de piso para redond
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17

In [6]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

In [8]:
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)
print(result_1)
print(result_2)

1084
1084

In [11]:
# Convertir cadenas en n√∫meros
demo_int = int('215')
print(demo_int)
type(demo_int)
demo_float = float('215.3')
print(demo_float)
type(demo_float)

215
215.3

float

In [12]:
# Valores absolutos
print(abs(39 - 16))
print(abs(16 - 39))

23
23

In [13]:
# Redondeo
print(round(14.5))

14

In [15]:
from math import ceil, floor
# Ceil redondeo hacia arriba
round_up = ceil(12.5)
print(round_up)
# Floor Redondear haca abajo
round_down = floor(12.5)
print(round_down)

13
12

In [30]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars',
           'Jupiter', 'Saturn', 'Uranus', 'Neptune']
type(planets)

list

In [22]:
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[3])

The first planet is Mercury
The second planet is Venus
The third planet is Mars

In [23]:
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Red Planet

In [24]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [26]:
# append apra agregar elementos a una lista
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')
print(planets[9])

There are actually 10 planets in the solar system.
Pluto

In [32]:
# pop para eliminar elementos de una lista
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets,
      'planets in the solar system.')
print(planets)

No, there are definitely 6 planets in the solar system.
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn']

In [33]:
# indices negativos para empezar de atras hacia adelante una lista
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Saturn
The penultimate planet is Jupiter

In [49]:
# index para buscar un valor dentro de la lista si da -1 no se encuentra el valor
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

In [36]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

In [38]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [40]:
bus_weight = 12650  # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs',
      bus_weight * gravity_on_planets[3], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4794.35 kg

In [41]:
# Slice recuperar una porcion un segmento de la lista\
planets = ['Mercury', 'Venus', 'Earth', 'Mars',
           'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [42]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [43]:
# si no colocas indice final slice llega al final de la lista
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [45]:
# uniendo listas
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']
regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [46]:
# ordenar listas sort()

regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [47]:
# ordenar listas de manera inversa .sort(reverse=True)

regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

#Ciclo while

In [1]:
user_input = ''

while user_input.lower() != 'done':
    user_input = input('Enter a new value, or done when done')

In [3]:
# Creamos la variable que almacena el texto
user_input = ''
# Creamos la lista que almacena cada uno de los textos que el usuario ingresa
inputs = []

# Ciclo while
while user_input.lower() != 'done':
    # Verificamos si hay un valor en user_input
    if user_input:
        # Almacenamos ese valor en la lista
        inputs.append(user_input)
    # Capturamos un nuevo valor
    user_input = input('Enter a new value, or done when done')
print(inputs)

['Mexico', 'Tlaxcala', 'Puebla', 'donne']

In [4]:
countdown = [4, 3, 2, 1, 0]
for number in countdown:
    print(number)
print("Blast off!! üöÄ")

4
3
2
1
0
Blast off!! üöÄ

In [5]:
# De la biblioteca time, importamos (traemos) la clase sleep

from time import sleep

# Creamos una lista de 5 n√∫meros llamada countdown
countdown = [4, 3, 2, 1, 0]

# Para cada n√∫mero en countdown
for number in countdown:
    # Muestra el n√∫mero
    print(number)

    # Espera (1segundo)
    sleep(1)

# Muestra el mensaje Blast off
print("Blast off!! üöÄ")

4
3
2
1
0
Blast off!! üöÄ

In [1]:
# crear un diccionario
planet = {
    'name': 'Earth',
    'moons': 1
}

In [2]:
# acceder al diccionario
print(planet.get('name'))

# Muestra Earth

Earth

In [3]:
# acceder al diccionarion op2
# planet['name'] es id√©ntico a usar planet.get('name')
print(planet['name'])

# Muestra Earth

Earth

In [7]:
# Diferencia entre ([]) y get
wibble = planet.get('wibble')  # Regresa None
print(wibble)
wibble = planet['wibble']  # Arroja un KeyError

None

KeyError: 'wibble'

In [10]:
# Modificar valores de un diccionario con update
planet.update({'name': 'Makemake'})

# name ahora es Makemake
print(planet)

{'name': 'Makemake', 'moons': 1}

In [13]:
# Modificar valores de un diccionario con corchetes
planet['name'] = 'Makemake2'
print(planet)
# name is now set to Makemake

{'name': 'Makemake2', 'moons': 1}

In [15]:
# Actualizar varios valores en una sola operacion
# Usando update
# Una llamada a la funcion
planet.update({
    'name': 'Jupiter',
    'moons': 79
})
print(planet)
# Usando corchetes
# dos llamadas a la funcion
planet['name'] = 'Jupiter'
planet['moons'] = 79
print(planet)

{'name': 'Jupiter', 'moons': 79}
{'name': 'Jupiter', 'moons': 79}

In [16]:
# Adicion y eliminacion de llaves

planet['orbital period'] = 4333
print(planet)

{'name': 'Jupiter', 'moons': 79, 'orbital period': 4333}

In [17]:
#eliminacion de claves
planet.pop('orbital period')
print(planet)

{'name': 'Jupiter', 'moons': 79}

In [2]:
#Tipos de data complejos
#Agregando un diccionario dentro de otro diccionario
planet['diameter (km)'] = {
    'polar': 133709,
    'equatorial': 142984
}
print(planet)

NameError: name 'planet' is not defined

In [23]:
print(f"""{planet['name']} polar diameter: {planet['diameter (km)']['polar']}""")

# Salida: Jupiter polar diameter: 133709

Jupiter polar diameter: 133709

In [39]:
#Recuperaci√≥n de todas las claves y valores
#Usando el metodo key

rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}
print(rainfall)

{'october': 3.5, 'november': 4.2, 'december': 2.1}

In [1]:
for key in rainfall.keys():
   print(""" {0}: {1}cm """.format(key,rainfall[key]))

NameError: name 'rainfall' is not defined

In [41]:
#Determinando la existencia de una clave en un diccionario
#metodo in
# El valor de december: 2.1cm

# Si, 'december' existe en rainfall
if 'december' in rainfall:
    # rainfall [en la posici√≥n december] es igual a
    # rainfall [en la posici√≥n december] + 1 (2.1+1)
    rainfall['december'] = rainfall['december'] + 1

# Si no:
else:

    # rainfall [en la posici√≥n december] es igual a 1
    rainfall['december'] = 1

# Como december si existe, el valor ser√° 3.1
print(rainfall)

{'october': 3.5, 'november': 4.2, 'december': 3.1}

In [42]:
# Recuper todos los valores de un diccionario
# metodo values
#Total de precipitaciones 0
total_rainfall = 0

# Para cada valor en los valores de rainfall
for value in rainfall.values():
    
    # El total de las precipitaciones ser√° igual a ese mismo + el valor que se est√° iterando

    total_rainfall = total_rainfall + value

# Muestra 'Hay un total de precipitaciones (el valor total) en cent√≠metros en el √∫ltimo cuarto (haciendo referencia al cuarto del a√±o)

print(f'There was {total_rainfall}cm in the last quarter')

# Salida:
# There was 10.8cm in the last quarter

There was 10.8cm in the last quarter

In [3]:
# Defino mi funci√≥n
def rocket_parts():
    print('payload, propellant, structure')

In [5]:
# Llamo a mi funci√≥n

rocket_parts()
'payload, propellant, structure'

payload, propellant, structure

'payload, propellant, structure'

In [6]:
def rocket_parts():
   return 'payload, propellant, structure'

output = rocket_parts()
output

'payload, propellant, structure'

In [7]:
def rocket_parts():
     return 'payload, propellant, structure'

output = rocket_parts()
output

'payload, propellant, structure'

In [9]:
#Para requerir un argumento, agr√©galo entre par√©ntesis:


def distance_from_earth(destination):
    if destination == 'Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'